* {
  margin: 0;
  padding: 0;
  font-family: "Cambria";
  /* overflow-x: hidden ; */
}

body {
  background-color: #1b1a1a;
  color: white;
  overflow-x: hidden;
}

.main-image {
  background-image: url("downloafw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 60%;
}

/* Main image */
.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100vw;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Abril Fatface";
  font-size: 3.7vw;
}
/* Main image end*/

/* Countdown Desktop*/
@media screen and (min-width: 821px) {
  .centered-num {
    background-image: url("image7.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100vw;
    font-family: "Abril Fatface";
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
  }

  .centered-num-2 {
    font-family: "Abril Fatface";
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .value,
  .value1,
  .value2 {
    font-size: 64px;
    display: block;
    font-weight: bold;
    color: #fff;
    font-family: "Abril Fatface";
  }

  .font-value {
    font-family: "Abril Fatface";
    display: flex;
    justify-content: safe;
    align-items: center;
  }

  .font-value-child {
    font-family: "Abril Fatface";
    font-size: 24px;
    justify-content: safe;
  }

  .plus {
    font-size: 64px;
    font-family: "Abril Fatface";
  }

  #nav-container > nav > ul {
    list-style-type: none;
  }
}
/* Countdown Desktop end*/

/* Countdown Mobile*/
@media screen and (max-width: 820px) {
  .centered-num {
    background-image: url("image7.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100vw;
    font-family: "Abril Fatface";
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
  }

  .centered-num-2 {
    font-family: "Abril Fatface";
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .value,
  .value1,
  .value2 {
    font-size: 32px;
    display: block;
    font-weight: bold;
    color: #fff;
    font-family: "Abril Fatface";
  }

  .font-value {
    font-family: "Abril Fatface";
    display: flex;
    justify-content: safe;
    align-items: center;
  }

  .font-value-child {
    font-family: "Abril Fatface";
    font-size: 12px;
    justify-content: safe;
  }

  .plus {
    font-size: 32px;
    font-family: "Abril Fatface";
  }

  #nav-container > nav > ul {
    list-style-type: none;
  }
}
/* Countdown Mobile end*/

/* NAVIGATION */
@media screen and (min-width: 821px) {
  #nav-background {
    position: fixed;
    top: 0;
    z-index: 9000;
    width: 100vw;
    background-color: black;
    opacity: 80%;
    /*
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  */
  }

  #nav-container {
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    height: 15vh;
  }

  #nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 18vw;
  }

  #nav-logo {
    text-decoration: none;
    background-color: black;
  }

  .nav-ul {
    display: flex;
    max-width: 100000px;
  }

  .nav-ul > li {
    display: flex;
    height: 15vh;
    align-items: center;
    margin-left: 0.5vw;
  }

  #contact {
    margin-left: 15vw;
  }

  .nav-link {
    flex: 1;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 200ms;
    font-family: "Calibri";
    font-size: 16px;
  }

  .nav-link:hover {
    background-color: #f1f1f1;
    color: black;
  }

  .active-link {
    background-color: #f1f1f1;
  }
}
/* END NAVIGATION */

/* MOBILE MENU */
@media screen and (max-width: 820px) {
  #nav-container {
    flex-direction: column;
    text-align: center;
  }

  #nav-menu-button {
    padding: 1rem;
    background-color: black;
    cursor: pointer;
  }

  .nav-ul {
    display: block;
    flex-direction: column;
    overflow: auto;
    direction: rtl;
    transition: max-height 400ms;
    transition-timing-function: ease-in-out;
  }

  .hide-ul {
    max-height: 0;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #f4f4f4;
  }

  #nav-background {
    position: fixed;
    top: 0;
    z-index: 9000;
    width: 100vw;
    background-color: black;
    opacity: 80%;
    /*
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    */
  }

  #nav-container {
    display: flex;
    justify-content: flex-start;
    height: 7.5vh;
  }

  #nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #nav-logo {
    text-decoration: none;
    background-color: black;
  }

  .nav-ul {
    display: flex;
    max-width: 100000px;
  }

  .nav-ul > li {
    display: flex;
    height: 5vh;
    align-items: center;
  }

  .nav-link {
    flex: 1;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 200ms;
    font-family: "Calibri";
    font-size: 16px;
    background-color: black;
  }

  .nav-link:hover {
    background-color: #f1f1f1;
  }

  .active-link {
    background-color: #f1f1f1;
  }
}
/* END MOBILE MENU */

/* DESKTOP MENU */
@media screen and (min-width: 821px) {
  #nav-menu-button {
    display: none;
  }

  .nav-link {
    flex-basis: auto;
    padding: 1rem 1.5rem;
  }
}

/* This moves the logo so that it's not touching the left side */
@media screen and (max-width: 1040px) {
  #nav-logo {
    margin-left: 1rem;
  }
}

/* Welcome Desktop*/
@media screen and (min-width: 821px) {
  .welcomee {
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    width: 100vw;
    font-family: "Abril Fatface";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcomee-comp {
    align-content: center;
    background-color: #232222;
    height: 70vh;
    width: 90vw;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .welcomee-image-child {
    background-image: url("image15.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    width: 65vh;
  }

  .welcomee-text {
    height: 60vh;
    width: 80vh;
  }

  .welcomee-heading {
    text-align: center;
  }

  .welcomee-heading-child {
    font-size: 64px;
    font-weight: 400;
    color: #fff;
    font-family: "Abril Fatface";
  }

  .welcomee-heading-est {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    font-family: "Abril Fatface";
    line-height: 0.5px;
  }

  .welcomee-heading-underline {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    font-family: "Cambria";
    margin-bottom: 20px;
  }

  .welcomee-p {
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
  }
}
/* Welcome end*/

/* Welcome Mobile*/
@media screen and (max-width: 820px) {
  .welcomee {
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100vw;
    font-family: "Abril Fatface";
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .welcomee-comp {
    align-content: center;
    background-color: #232222;
    height: 100vh;
    width: 90vw;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .welcomee-image-child {
    background-image: url("image15.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 30vh;
    margin-top: 10vh;
  }

  .welcomee-text {
    margin-top: 5vh;
    height: 30vh;
    width: 40vh;
    transition: all 1s;
    opacity: 1;
    transition: visibility 0s 2s, opacity 2s linear;
  }

  .welcomee-text.in-view {
    height: 30vh;
    width: 40vh;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s linear;
  }

  .welcomee-heading {
    text-align: center;
  }

  .welcomee-heading-child {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    font-family: "Abril Fatface";
  }

  .welcomee-heading-est {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    font-family: "Abril Fatface";
    line-height: 0.5px;
  }

  .welcomee-heading-underline {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    font-family: "Cambria";
    margin-bottom: 20px;
  }

  .welcomee-p {
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
    margin-bottom: 20px;
  }
}
/* Welcome Mobile end*/

/* Projects Heading*/
@media screen and (min-width: 821px) {
  .projects-heading {
    background-image: url("image7.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100vw;
    font-family: "Abril Fatface";
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  .projects-heading-child {
    font-size: 64px;
    font-weight: 400;
    color: #fff;
    font-family: "Abril Fatface";
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .projects-heading-child-child {
    font-size: 64px;
    font-weight: 400;
    color: #fff;
    font-family: "Abril Fatface";
    line-height: 0.5px;
    margin-bottom: 30px;
  }

  .projects-heading-underline {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    font-family: "Cambria";
  }
}
/* Projects Heading End*/

/* Projects Heading Mobile */
@media screen and (max-width: 820px) {
  .projects-heading {
    background-image: url("image7.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    width: 100vw;
    font-family: "Abril Fatface";
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .projects-heading-child {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    font-family: "Abril Fatface";
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .projects-heading-child-child {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    font-family: "Abril Fatface";
    line-height: 0.5px;
    margin-bottom: 15px;
  }

  .projects-heading-underline {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    font-family: "Cambria";
  }
}
/* Projects Heading Mobile End*/

/* Projects */
@media screen and (min-width: 821px) {
  .projects-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
  .projects {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .projects-container {
    background-image: url("downloafw.jpg");
    height: 45vh;
    width: 54vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Poppins";
  }

  .projects-container:hover {
    height: 45vh;
    width: 54vh;
    transform: scale(1.05);
    opacity: 70%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Poppins";
    font-weight: bold;
  }

  .projects11 {
    background-image: url("downloafw.jpg");
  }

  .projects12 {
    background-image: url("downloafw.jpg");
  }

  .projects21 {
    background-image: url("downloafw.jpg");
  }

  .projects22 {
    background-image: url("downloafw.jpg");
  }

  .projects31 {
    background-image: url("downloafw.jpg");
  }

  .projects32 {
    background-image: url("downloafw.jpg");
  }

  #projects-list {
    background-image: url("Rectangle 22.png");
    height: 90vh;
    width: 90vw;
    margin-top: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    transition: height 0.4s ease-in-out;
  }

  .projects-list-more {
    font-size: 32px;
    letter-spacing: 1px;
    font-family: "Poppins";
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .project-list-element {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Poppins";
    color: black;
    text-align: center;
    margin-bottom: 15px;
  }

  .view-more {
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: underline;
    font-family: "Poppins";
    color: black;
    text-align: center;
    margin-top: 60px;
  }

  .projects-list-list {
    list-style-type: none;
  }

  .projects-container-last {
    margin-left: 0;
  }

  .projects-container-last {
    margin-right: 0;
  }

  .button {
    background-color: white;
    border: none;
    color: black;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
  }

  .button:hover {
    background-color: white;
    opacity: 80%;
    border: none;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
  }

  .button:active {
    background-color: white;
    opacity: 80%;
    border: none;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
  }
}
/* Projects End*/

/* Projects Mobile*/
@media screen and (max-width: 820px) {
  .button{
    visibility: hidden;
  }
  .projects-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    flex-flow: column;
  }
  .projects {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .projects-container {
    background-image: url("downloafw.jpg");
    height: 22.5vh;
    width: 27vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Poppins";
  }

  .projects-container:hover {
    height: 45vh;
    width: 54vh;
    transform: scale(1.05);
    opacity: 70%;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Poppins";
    font-weight: bold;
  }

  .projects11 {
    background-image: url("downloafw.jpg");
  }

  .projects12 {
    background-image: url("downloafw.jpg");
  }

  .projects21 {
    background-image: url("downloafw.jpg");
  }

  .projects22 {
    background-image: url("downloafw.jpg");
  }

  .projects31 {
    background-image: url("downloafw.jpg");
  }

  .projects32 {
    background-image: url("downloafw.jpg");
  }

  #projects-list {
    background-image: url("Rectangle 22.png");
    height: 70vh;
    width: 100vw;
    margin-top: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    transition: height 0.4s ease-in-out;
  }

  .projects-list-more {
    font-size: 32px;
    letter-spacing: 1px;
    font-family: "Poppins";
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .project-list-element {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Poppins";
    color: black;
    text-align: center;
    margin-bottom: 15px;
  }

  .view-more {
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: underline;
    font-family: "Poppins";
    color: black;
    text-align: center;
    margin-top: 60px;
  }

  .projects-list-list {
    list-style-type: none;
  }

  .projects-container-last {
    margin-left: 0;
  }

  .projects-container-last {
    margin-right: 0;
  }

  .button {
    background-color: white;
    border: none;
    color: black;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
  }

  .button:hover {
    background-color: white;
    opacity: 80%;
    border: none;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
  }

  .button:active {
    background-color: white;
    opacity: 80%;
    border: none;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
  }
  
}
/* Projects Mobile End*/



/* Carousel */
@media screen and (min-width: 821px) {
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: #1b1a1a;
  height: 20vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 200vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
}
.slide {
  height: 100px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px;
}
}
/*# sourceMappingURL=style2.css.map */


#slide1{
  background-image: url('a1.png');
}

#slide2{
  background-image: url('a2.png');
  background-position: 0px;
}

#slide3{
  background-image: url('a3.png');
}

#slide4{
  background-image: url('a4.png');
}

#slide5{
  background-image: url('a5.png');
}

#slide6{
  background-image: url('a8.png');
  background-position: 0;
}

#slide7{
  background-image: url('a9.png');
}

#slide8{
  background-image: url('a10.png');
}

#slide9{
  background-image: url('a11.png');
}

#slide10{
  background-image: url('a12.png');
}

#slide11{
  background-image: url('a7.png');
}

#slide12{
  background-image: url('a6.png');
}

/*# sourceMappingURL=style2.css.map */

/* Carousel End*/

/* Carousel Mobile */
@media screen and (max-width: 821px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-850px);
    }
  }
  .slider {
    background: #1b1a1a;
    height: 20vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100vw;
  }
  
  .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: 400vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
  }
  .slide {
    height: 100px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
  }
}
/* Carousel Mobile End*/


/* Credits */
@media screen and (min-width: 821px) {
.credits{
  background-image: url('credits2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 5vh;
  font-weight: 100;
}

.credits-info{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.credits-info-image{
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vh;
  width: 25vw;
}

.credits-info-p{
  text-align:left;
  font-family: "Poppins";
  font-size: 17px;
  width: 30vw;
  line-height: 28.27px;
}

.credits-link{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.credits-link-heading{
  text-align:left;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.credits-link-link{
  text-align:left;
  font-family: "Poppins";
  font-size: 20px;
  margin-bottom: 15px;
}

.credits-link-link:hover{
  text-align:left;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.credits-link{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.credits-contact-heading{
  text-align:left;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.credits-contact-contact{
  text-align:left;
  font-family: "Poppins";
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.credits-contact-contact-image{
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 20px;
  margin-right: 10px;
}

.credits-contact-contact-image-1{
  background-image: url('l1.png');
}

.credits-contact-contact-image-2{
  background-image: url('l2.png');
  
}
.credits-contact-contact-image-3{
  background-image: url('l3.png');
}

.credits-contact-contact-text{
  text-align:left;
  font-family: "Poppins";
  font-size: 20px;
  margin-bottom: 15px;
}
}
/* Credits End */

/* Credits Mobile */
@media screen and (max-width: 820px) {
  .credits{
    background-image: url('credits2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 5vh;
    font-weight: 100;
  }
  
  .credits-info{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
  }
  
  .credits-info-image{
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 5vh;
    width: 30vw;
    margin-bottom: 10px;
  }
  
  .credits-info-p{
    text-align:left;
    font-family: "Poppins";
    font-size: 12px;
    width: 35vw;
    line-height: 14px;
  }
  
  .credits-link{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .credits-link-heading{
    text-align:left;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .credits-link-link{
    text-align:left;
    font-family: "Poppins";
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .credits-link-link:hover{
    text-align:left;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .credits-link{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .credits-contact-heading{
    text-align:left;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .credits-contact-contact{
    text-align:left;
    font-family: "Poppins";
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .credits-contact-contact-image{
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 10px;
    margin-right: 10px;
  }
  
  .credits-contact-contact-image-1{
    background-image: url('l1.png');
  }
  
  .credits-contact-contact-image-2{
    background-image: url('l2.png');
    
  }
  .credits-contact-contact-image-3{
    background-image: url('l3.png');
  }
  
  .credits-contact-contact-text{
    text-align:left;
    font-family: "Poppins";
    font-size: 12px;
    margin-bottom: 15px;
  }
  }







  
  @media screen and (min-width: 821px) {
  /* About Image */
  .about-image{
    background-image: url('ab1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-family: "Abril Fatface";
  }

  .about-text{
    height: 30vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins";
    margin: 0 auto
  }

  .leaders{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Poppins";
  }
  
  .leaders-ind{
    align-items: center;
    height: 150vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .leaders-ind-child{
    height: 130vh;
    display: flex;
    flex-flow: column ;
    justify-content: space-around;
    align-items: center;
    background-color: #232222;
    border-radius: 70px;
    padding: 0px 30px;
  }

  .leaders-ind-child1{
    margin-right: 5vh;
  }

  .leaders-ind-child2{
    margin-left: 5vh;
  }

  .leaders-ind-child-image{
    background-image: url("sameer.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
     width: 60vh;
  }

  .leaders-ind-child-text{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }

  .leaders-ind-child-text-1{
    font-size: 40px;
    font-family: "Poppins";
  }

  .leaders-ind-child-text-2{
    text-align: justify;
    font-size: 14px;
    font-family: "Poppins";
  }
  /* About Image End*/

  /*Clients*/
  .clist{
    display: flex;
    justify-content: space-around;
    text-align: justify; 
    font-size: 24px; 
    margin: 5vh 0;
  }

  .clist-child{
    line-height: 1.7;
    font-family: "Poppins";
  }
  /*Clients End*/

  /*Contact Us*/
  .contactus-image{
    background-image: url('ab2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .contactus-image-heading{
    font-size: 64px;
    font-family: "Abril Fatface";
    margin-bottom: 10vh;
  }

  .contactus-image-text{
    margin-top: 10vh;
    display: flex;
    text-align: justify;
    line-height: 18px;
    font-weight: 24px;
    height: 10vh;
  }

  .contactus-image-text-1{
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Poppins";
    margin-right: 1.25vw;
    padding-right: 1.25vw;
    border-right: 2px solid white;
    border-color: white;
  }

  .contactus-image-text-2{
    height: 20vh;
    width: 17.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Poppins";
    margin-right: 1.25vw;
    padding-right: 1.25vw;
    border-right: 2px solid white;
    border-color: white;
  } 
  
  .contactus-image-text-3{
    height: 20vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Poppins";
    margin-right: 1.25vw;
    padding-right: 1.25vw;
  }

  .pprojects-parent {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .pprojects {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .pprojects-container {
    background-image: url("downloafw.jpg");
    height: 50vh;
    width: 60vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Poppins";
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pprojects-container:hover {
    height: 50vh;
    width: 60vh;
    transform: scale(1.05);
    opacity: 70%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Poppins";
    font-weight: bold;
  }

  .pprojects-link{
    font-family: "Poppins";
    color: white;
  }

  .pprojects-link:hover{
    font-family: "Poppins";
    color: white;
  }

  .pprojects-link:visited,.pprojects-link:active{
    font-family: "Poppins";
    font-weight: bold;
    color: white;
  }
  /* Contact Us End*/

  .content-sliderr {
    width: 100%;
    height: 25vh;
    font-family: "Abril Fatface";
  }
  
  .sliderr {
    height: 20vh;
    width: 680px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
  }
  
  .mask {
    overflow: hidden;
    height: 20vh;
  }
  
  .sliderr ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .sliderr li {
    width: 680px;
    height: 10vh;
    position: absolute;
    top: -325px;
    list-style: none;
  }
  
  .sliderr .quote {
    font-size: 25px;
    font-style: italic;
  }
  
  .sliderr .source {
    font-size: 15px;
    text-align: right;
  }
  
  .sliderr li.anim1 {
    animation: cycle 15s linear infinite;
  }
  
  .sliderr li.anim2 {
    animation: cycle2 15s linear infinite;
  }
  
  .sliderr li.anim3 {
    animation: cycle3 15s linear infinite;
  }
  
  .sliderr li.anim4 {
    animation: cycle4 15s linear infinite;
  }
  
  .sliderr li.anim5 {
    animation: cycle5 15s linear infinite;
  }
  
  .sliderr:hover li {
    animation-play-state: paused;
  }
  
  @keyframes cycle {
    0% {
      top: 0px;
    }
    4% {
      top: 0px;
    }
    16% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    20% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    21% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    50% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    92% {
      top: -325px;
      opacity: 0;
      z-index: 0;
    }
    96% {
      top: -325px;
      opacity: 0;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes cycle2 {
    0% {
      top: -325px;
      opacity: 0;
    }
    16% {
      top: -325px;
      opacity: 0;
    }
    20% {
      top: 0px;
      opacity: 1;
    }
    24% {
      top: 0px;
      opacity: 1;
    }
    36% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    41% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle3 {
    0% {
      top: -325px;
      opacity: 0;
    }
    36% {
      top: -325px;
      opacity: 0;
    }
    40% {
      top: 0px;
      opacity: 1;
    }
    44% {
      top: 0px;
      opacity: 1;
    }
    56% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    60% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    61% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle4 {
    0% {
      top: -325px;
      opacity: 0;
    }
    56% {
      top: -325px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle5 {
    0% {
      top: -325px;
      opacity: 0;
    }
    76% {
      top: -325px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
  }
  }







/* ___________________________$$
 _________________________$$$$
 _______________________$$$$$$
 ______________________$$$$$$
 ______________________$$$$
 ______________________$$
 _________$$$$$$$$$$$$$_$$$$$$$$$$$$$
 ______$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 ____$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 ___$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 __$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 _$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 __$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 ___$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 ____$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 _____$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 ______$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 ________$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
 __________$$$$$$$$$$$$$$$$$$$$$$$$$
 ____________$$$$$$$$$$$$$$$$$$$$$
 ______________$$$$$$$$__$$$$$$$
*/



  @media screen and (max-width: 820px) {
    /* About Image */
    .about-image{
      background-image: url('ab1.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 40vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      font-family: "Abril Fatface";
    }

    .about-text{
      height: 25vh;
      width: 70vw;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 12px;
      font-family: "Poppins";
      margin: 0 auto
    }

    .leaders{
      height: 10vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-family: "Poppins";
    }

    .leaders-ind{
      align-items: center;
      height: 155vh;
      width: 100vw;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
    
    .leaders-ind-child{
      height: 70vh;
      display: flex;
      flex-flow: column ;
      justify-content: space-around;
      align-items: center;
      background-color: #232222;
      border-radius: 35px;
      padding: 0px 30px;
    }
  
    .leaders-ind-child1{
      margin-bottom: 5vh;
    }
  
    .leaders-ind-child-image{
      background-image: url("sameer.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 30vh;
       width: 30vh;
    }
  
    .leaders-ind-child-text{
      height: 30vh;
      width: 30vh;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: flex-start;
    }
  
    .leaders-ind-child-text-1{
      font-size: 20px;
      font-family: "Poppins";
    }
  
    .leaders-ind-child-text-2{
      text-align: justify;
      font-size: 7px;
      font-family: "Poppins";
    }
    /* About Image End*/
    /* Clients */
    .clist{
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: justify; 
      font-size: 14px; 
      margin-bottom: 5vh;
    }
  
    .clist-child{
      line-height: 1.7;
      font-family: "Poppins";
      margin-left: 20vw;
    }
    /*Clients End*/

    /*Contact Us*/
  .contactus-image{
    background-image: url('ab2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .contactus-image-heading{
    font-size: 32px;
    font-family: "Abril Fatface";
    margin-bottom: 5vh;
  }

  .contactus-image-text{
    margin-top: 5vh;
    display: flex;
    text-align: justify;
    line-height: 20px;
    font-weight: 12px;
    height: 5vh;
    font-size: 16px;
    flex-flow: column;
  }

  .contactus-image-text-1{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Poppins";
    border-bottom: 2px solid white;
    border-color: white;
    margin-bottom: 2.5vh;
    padding-bottom: 2.5vh;
  }

  .contactus-image-text-2{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Poppins";
    margin-bottom: 2.5vh;
    padding-bottom: 2.5vh;
    border-bottom: 2px solid white;
    border-color: white;
    margin-bottom: 10px;
  } 
  
  .contactus-image-text-3{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Poppins";
    margin-right: 1.25vw;
    padding-right: 1.25vw;
  }
  /* Contact Us End*/

  .pprojects-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    flex-flow: column;
  }
  .pprojects {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .pprojects-container {
    background-image: url("downloafw.jpg");
    height: 22.5vh;
    width: 27vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Poppins";
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pprojects-container:hover {
    height: 45vh;
    width: 54vh;
    transform: scale(1.05);
    opacity: 70%;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Poppins";
    font-weight: bold;
  }

  .pprojects-link{
    font-family: "Poppins";
    color: white;
  }

  .pprojects-link:hover{
    font-family: "Poppins";
    text-decoration: underline;
    color: white;
  }

  .pprojects-link:visited,.pprojects-link:active{
    font-family: "Poppins";
    text-decoration: underline;
    font-weight: bold;
    color: white;
  }

  .content-sliderr {
    width: 100%;
    height: 12.5vh;
    font-family: "Abril Fatface";
  }
  
  .sliderr {
    height: 10vh;
    width: 340px;
    margin: 20px auto 0;
    overflow: visible;
    position: relative;
  }
  
  .mask {
    overflow: hidden;
    height: 10vh;
  }
  
  .sliderr ul {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .sliderr li {
    width: 340px;
    height: 5vh;
    position: absolute;
    top: -162.5px;
    list-style: none;
  }
  
  .sliderr .quote {
    font-size: 14px;
    font-style: italic;
  }
  
  .sliderr .source {
    font-size: 7.5px;
    text-align: right;
  }
  
  .sliderr li.anim1 {
    animation: cycle 15s linear infinite;
  }
  
  .sliderr li.anim2 {
    animation: cycle2 15s linear infinite;
  }
  
  .sliderr li.anim3 {
    animation: cycle3 15s linear infinite;
  }
  
  .sliderr li.anim4 {
    animation: cycle4 15s linear infinite;
  }
  
  .sliderr li.anim5 {
    animation: cycle5 15s linear infinite;
  }
  
  .sliderr:hover li {
    animation-play-state: paused;
  }
  
  @keyframes cycle {
    0% {
      top: 0px;
    }
    4% {
      top: 0px;
    }
    16% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    20% {
      top: 162.75px;
      opacity: 0;
      z-index: 0;
    }
    21% {
      top: -162.75px;
      opacity: 0;
      z-index: -1;
    }
    50% {
      top: -162.75px;
      opacity: 0;
      z-index: -1;
    }
    92% {
      top: -162.75px;
      opacity: 0;
      z-index: 0;
    }
    96% {
      top: -162.75px;
      opacity: 0;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes cycle2 {
    0% {
      top: -325px;
      opacity: 0;
    }
    16% {
      top: -325px;
      opacity: 0;
    }
    20% {
      top: 0px;
      opacity: 1;
    }
    24% {
      top: 0px;
      opacity: 1;
    }
    36% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    40% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    41% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle3 {
    0% {
      top: -325px;
      opacity: 0;
    }
    36% {
      top: -325px;
      opacity: 0;
    }
    40% {
      top: 0px;
      opacity: 1;
    }
    44% {
      top: 0px;
      opacity: 1;
    }
    56% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    60% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    61% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle4 {
    0% {
      top: -325px;
      opacity: 0;
    }
    56% {
      top: -325px;
      opacity: 0;
    }
    60% {
      top: 0px;
      opacity: 1;
    }
    64% {
      top: 0px;
      opacity: 1;
    }
    76% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    80% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
    81% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
    100% {
      top: -325px;
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes cycle5 {
    0% {
      top: -325px;
      opacity: 0;
    }
    76% {
      top: -325px;
      opacity: 0;
    }
    80% {
      top: 0px;
      opacity: 1;
    }
    84% {
      top: 0px;
      opacity: 1;
    }
    96% {
      top: 0px;
      opacity: 1;
      z-index: 0;
    }
    100% {
      top: 325px;
      opacity: 0;
      z-index: 0;
    }
  }

  }


/*
___¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
__¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
_¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
88888888888888888888888888888
8_____8_____8_____8_____8___8
88___888___888___888___888__8
888_88888_88888_88888_88888_8
88888888888888888888888888888
888_88888_88888_88888_88888_8
88___888___888___888___888__88888888
8_____8_____8_____8_____8___888888888
88___888___888___888___888__8888888888
888_88888_88888_88888_88888_8_____88888
88888888888888888888888888888______88888
888_88888_88888_88888_88888_8_______88888
88___888___888___888___888__8________88888
8_____8_____8_____8_____8___8_________88888
88___888___888___888___888__8_________88888
888_88888_88888_88888_88888_8_________88888
888_88888_88888_88888_88888_8_________88888
88___888___888___888___888__8_________88888
8_____8_____8_____8_____8___8_________88888
88___888___888___888___888__8________88888
888_88888_88888_88888_88888_8_______88888
88888888888888888888888888888______88888
888_88888_88888_88888_88888_8_____88888
88___888___888___888___888__8888888888
8_____8_____8_____8_____8___888888888
88___888___888___888___888__88888888
888_88888_88888_88888_88888_8
88888888888888888888888888888
888_88888_88888_88888_88888_8
88___888___888___888___888__8
8_____8_____8_____8_____8___8
88888888888888888888888888888
*/

.pprojects11 {
    background-image: url("downloafw.jpg");
  }

  .pprojects12 {
    background-image: url("downloafw.jpg");
  }

  .pprojects13 {
    background-image: url("downloafw.jpg");
  }

  .pprojects21 {
    background-image: url("image15.png");
  }

  .pprojects22 {
    background-image: url("downloafw.jpg");
  }

  .pprojects23 {
    background-image: url("downloafw.jpg");
  }

  .pprojects31 {
    background-image: url("image15.png");
  }

  .pprojects32 {
    background-image: url("downloafw.jpg");
  }

  .pprojects33{
    background-image: url("downloafw.jpg");
  }
  
  a{
    color: white;
    text-decoration: none;
  }




.leaders-ind-child-image-1
{
  background-image: url('sameer.png');
}

.leaders-ind-child-image-2
{
  background-image: none;
}

.projects11 {
  background-image: url("z01.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

.projects12 {
  background-image: url("z10.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.projects21 {
  background-image: url("z19.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.projects22 {
  background-image: url("z28.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.projects31 {
  background-image: url("z37.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.projects32 {
  background-image: url("z46.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pprojects11 {
  background-image: url("z01.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

.pprojects12 {
  background-image: url("z10.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pprojects21 {
  background-image: url("z19.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pprojects22 {
  background-image: url("z28.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pprojects31 {
  background-image: url("z37.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pprojects32 {
  background-image: url("z46.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pprojects13 {
  background-image: url("z55.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pprojects23 {
  background-image: url("z90.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pprojects33 {
  background-image: url("z91.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p1projects11 {
  background-image: url("z01.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

.p1projects12 {
  background-image: url("z02.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p1projects21 {
  background-image: url("z03.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p1projects22 {
  background-image: url("z04.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p1projects31 {
  background-image: url("z05.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p1projects32 {
  background-image: url("z06.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p1projects13 {
  background-image: url("z07.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p1projects23 {
  background-image: url("z08.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p1projects33 {
  background-image: url("z09.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p2projects11 {
  background-image: url("z10.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

.p2projects12 {
  background-image: url("z11.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p2projects21 {
  background-image: url("z12.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p2projects22 {
  background-image: url("z13.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p2projects31 {
  background-image: url("z14.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p2projects32 {
  background-image: url("z15.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p2projects13 {
  background-image: url("z16.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p2projects23 {
  background-image: url("z17.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p2projects33 {
  background-image: url("z18.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p3projects11 {
  background-image: url("z19.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

.p3projects12 {
  background-image: url("z20.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p3projects21 {
  background-image: url("z21.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p3projects22 {
  background-image: url("z22.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p3projects31 {
  background-image: url("z23.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p3projects32 {
  background-image: url("z24.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p3projects13 {
  background-image: url("z25.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p3projects23 {
  background-image: url("z26.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p3projects33 {
  background-image: url("z27.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p4projects11 {
  background-image: url("z28.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

.p4projects12 {
  background-image: url("z29.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p4projects21 {
  background-image: url("z30.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p4projects22 {
  background-image: url("z31.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p4projects31 {
  background-image: url("z32.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p4projects32 {
  background-image: url("z33.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p4projects13 {
  background-image: url("z34.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p4projects23 {
  background-image: url("z35.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p4projects33 {
  background-image: url("z36.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p5projects11 {
  background-image: url("z37.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

.p5projects12 {
  background-image: url("z38.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p5projects21 {
  background-image: url("z39.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p5projects22 {
  background-image: url("z40.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p5projects31 {
  background-image: url("z41.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p5projects32 {
  background-image: url("z42.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p5projects13 {
  background-image: url("z43.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p5projects23 {
  background-image: url("z44.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p5projects33 {
  background-image: url("z45.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p6projects11 {
  background-image: url("z46.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

.p6projects12 {
  background-image: url("z47.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p6projects21 {
  background-image: url("z48.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p6projects22 {
  background-image: url("z49.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p6projects31 {
  background-image: url("z50.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p6projects32 {
  background-image: url("z51.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p6projects13 {
  background-image: url("z52.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p6projects23 {
  background-image: url("z53.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p6projects33 {
  background-image: url("z54.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p7projects11 {
  background-image: url("z55.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

.p7projects12 {
  background-image: url("z56.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p7projects21 {
  background-image: url("z57.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p7projects22 {
  background-image: url("z58.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p7projects31 {
  background-image: url("z59.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p7projects32 {
  background-image: url("z60.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p7projects13 {
  background-image: url("z61.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p7projects23 {
  background-image: url("z62.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.p7projects33 {
  background-image: url("z63.png");
  background-repeat: no-repeat;
  background-size: cover;
}

iframe{
  width: 80vw;
  height: 70vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: 10vw;
  border-color: #f1f1f1;
  border: 20px;
}